<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    @Styles.Render(
        "~/Content/css",
        "~/Content/bootstrap/css/style",
        "~/Content/font-awesome/css/style"
    )
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
    <link href="@Url.Content("~/jsLib/leaflet.measure/leaflet.measure.css")" rel="stylesheet" type="text/css" />
    <link rel="Stylesheet" href="https://raw.github.com/esrgc/geodash/master/dist/GeoDash.min.css" />
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
    <![endif]-->
    <script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js" type="text/javascript"></script>
    <script src="@Url.Content("~/jsLib/leaflet.measure/leaflet.measure.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/dx.min.js")" type="text/javascript"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="https://rawgithub.com/esrgc/geodash/master/dist/GeoDash.min.js" type="text/javascript"></script>
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <header class="header">
                @*<h4 class="pull-left"></h4>*@
                <div style="text-align: right;">
                    <img class="esrgc-logo" src="@Url.Content("~/Content/images/esrgc-small.png")" /><br />
                    <strong>Eastern Shore Regional GIS Cooperative</strong>
                </div>
            </header>
            @RenderBody()
        </div>
        <div class="push">
        </div>
    </div>
    <div class="footer" id="footer">
    </div>
    @Scripts.Render(
        "~/bundles/jquery",
        "~/bundles/bootstrap",
        "~/bundles/modernizr"
    )
    @RenderSection("scripts", required: false)
    <!--Start up code-->
    <script type="text/javascript">
        $(function () {
            //custom start up code
            if (typeof startup == 'function')
                startup();
        });
    </script>
</body>
</html>
